$primary: #02474d;
$secondary: #217b7e;

//dropdown:
$dropdown-bg: #e4eded;
$dropdown-border-color: #e4eded;
$dropdown-link-hover-bg: #217b7e28;

//import
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "bglight": #e4eded,
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import "../node_modules/bootstrap/scss/bootstrap.scss";
