//colors
$primary: #02474d;
$secondary: #217b7e;
$light: #e4eded;

//Nav
$navbar-light-color: $primary;
$navbar-light-hover-color: $secondary;

//Borders$border-color: $light;

//Links
$link-color: $primary;
$link-hover-color: $secondary;
$link-decoration: none;
